<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Edit photo</h3>
        </div>
        <div class="panel-body">
          <form action="http://localhost:3000/update_photo/<%= @photo.id %>" class="form-horizontal">

            <div class="form-group">
              <label for="photo_caption" class="col-sm-2 control-label">Caption</label>
              <div class="col-sm-10">
                  <input class="form-control" id="photo_caption" type="text" name="the_caption" value="<%= @photo.caption %>">
              </div>
            </div>

            <div class="form-group">
              <label for="photo_image_url" class="col-sm-2 control-label">Image URL</label>
              <div class="col-sm-10">
                  <input class="form-control" id="photo_image_url" type="text" name="the_source" value="<%= @photo.source %>">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary btn-block">Update Photo</button>
              </div>
            </div>

          </form>
        </div>
    </div>
  </div>
</div>
